<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.hbrt.agro" version="1.0.0">
    <name>HBRT AGRO</name>
    <description>HBRT Smart Greenhouse App</description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="android-usesCleartextTraffic" value="true" />
        <preference name="android-insecure" value="true" />
        <preference name="BackgroundColor" value="0xFF0b1410" />
    </platform>
</widget>
